* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  /* พื้นที่ที่ครอบเนื้อหาทั้งหมด block ด้านนอกสุด */
  width: 96%;
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  /* จัดวางเนื้อหาด้านใน application */
  margin: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 48px;
}

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
}

.card .card_title {
  max-height: 150px;
}

.card .card_title img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.card .card_body {
  padding: 32px 15px;
}

.card .card_list {
  margin-top: 16px;
}

.card .card_list li {
  margin-top: 8px;
}

.card .card_list li span {
  color: gray;
}

ul,
ol {
  list-style: none;
}

.search_container {
  margin: 48px 0;
}

.search_input {
  padding: 1.4em 1.4em;
  width: 100%;
  font-size: 18px;
  border: 1px solid gray;
  border-radius: 50px;
  outline: none;
  
}